<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>회원가입</title>
  </head>
  
  <body>
	<h1>Register</h1>
	<img th:src="@{/images/Welcome.png}" />
	<form method="POST" th:action="@{/register}" id="registerForm">
		<label for="username">Username: </label> 
		<input type="text" name="username" /><br /> 
		
		<label for="password">Password: </label> 
		<input type="password" name="password" /><br /> 
		
		<label for="confirm">Confirm password: </label> 
		<input type="password" name="confirm" /><br /> 
		
		<label for="fullname">Full name: </label> 
		<input type="text" name="fullname" /><br />
		
		<input type="submit" value="Register" />
	</form>
  </body>
</html>